@font-face {
    font-family: Assistant;
    src: url(fonts/Assistant-VariableFont_wght.ttf);
}

:root {
    font-size: 1vw;
}

* {
    user-select: none;
    text-align: center;
    font-family: Assistant;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(207, 204, 204);
    direction: rtl;
    overflow: hidden;
    user-select: none;
}

#logoPakar {
    position: absolute;
    top: 10%;
    left: 45vw;
    height: 20vh;
    width: 10vw;
}

#logoPele {
    position: absolute;
    right: 1.5%;
    top: 1.5%;
    height: 12vh;
    width: 6vw;
}

/* FIRST PAGE  */

#firstPage {
    display: flex;
    position: absolute;
    top: 40vh;
    right: 20vw;
    height: 50vh;
    width: 60vw;
    justify-content: center;
    flex-wrap: wrap;
}

#startButton {
    font-size: 2vh;
    font-weight: bold;
    height: 8vh;
    width: 25vh;
}

#titleFirstPage {
    font-weight: bold;
    font-size: 6vh;
}

/* SECONDS PAGE  */

#secondTitle {
    font-weight: bold;
    font-size: 5.5vh;
    margin-top: 20vh;
    display: none;
}

#nextButton {
    display: none;
    position: absolute;
    bottom: 8%;
    left: 8%;
    height: 12vh;
    width: 6vw;
}

#nextButton:hover {
    cursor: pointer;
    height: 12.5vh;
    width: 6.25vw;
}

#targetTitle {
    font-size: 9vh;
    top: 4%;
    margin-top: 5vh;
    font-weight: bold;
    display: none;
}

.targetTextBox {
    /* text-align: right; */
    display: flex;
    width: 80vw;
    right: 10vw;
    top: 22vh;
    position: absolute;
    flex-wrap: wrap;
}

.targetText {
    font-size: 4vh;
    display: none;
    text-align: right;
}

/* CHOOSE PAGE  */
#timeLineImage {
    right: 20%;
}

#pailotMavzaitImage {
    left: 20%;
}

.imageClass:hover {
    box-shadow: 0 0 0.5em yellow;
}

.imageClass {
    height: 22vh;
    width: 22vw;
    position: absolute;
    top: 40vh;
    border-radius: 2vh;
    cursor: pointer;
    display: none;
}

#timeLineText {
    right: 28vw;
    color: white;
}

#pailotMavzaitText {
    left: 25vw;
    color: white;
}

.imageText {
    font-size: 4vh;
    font-weight: bold;
    position: absolute;
    top: 48vh;
    pointer-events: none;
    display: none;
}

#thirdPageTitle {
    font-size: 6vh;
    font-weight: bold;
    position: absolute;
    top: 13%;
    left: 15vw;
    height: 20vh;
    width: 70vw;
    display: none;
}