@font-face {
    font-family: Assistant;
    src: url(fonts/Assistant-VariableFont_wght.ttf);
}

* {
    user-select: none;
    text-align: center;
    font-family: Assistant;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(207, 204, 204);
    direction: rtl;
    overflow: hidden;
    user-select: none;
}

#logoPakar {
    position: absolute;
    top: 2%;
    left: 2%;
    height: 6vw;
    width: 6vw;
}

#logoPele {
    position: absolute;
    right: 1.5%;
    top: 1.5%;
    height: 6vw;
    width: 6vw;
}

#title {
    margin-top: 0.25vw;
    font-size: 4vw;
    font-weight: bold;
}

/* MAP */
svg {
    margin-top: -6.5vh;
}

path {
    fill: #e2e2e2;
}

.pakar path {
    fill: rgb(240 148 25);
}

.pakar path:hover {
    fill: rgb(1 111 178) !important;
}

.popover-content {
    color: #ff0000;
    font-weight: bold;
    
}

.popover-title {
    background: #222;
    color: #fff;
}

.check path {
    fill: green !important;
}

.pakar:hover {
    cursor: pointer;
}

/* FLAGS  */
#flags {
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    height: 78vh;
    width: 10.5vw;
    border: rgb(36, 33, 33) solid 0.12em;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(61, 142, 180);
    /* z-index: -2; */
}

.flag {
    height: 7vh;
    width: 5vw;
    padding: 0.13em;
}

.flag:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.checkFlag {
    opacity: 0.3;
}

/* TEXT BOX  */
#box {
    height: 30vw;
    width: 50vw;
    border-color: rgb(9 7 44);
    background-color: rgb(137, 148, 196);
    border-style: inset;
    border-width: 0.3vh;
    border-radius: 0.8vh;
    position: absolute;
    top: 20%;
    left: 28%;
    padding-top: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    display: none;
}

#textBox {
    text-align: center;
    font-size: 1.45vw;
    color: black;
    height: 70%;
    width: 80%;
}

#titleBox {
    font-size: 3.5vw;
    font-weight: bold;
    margin-top: -1vh;
}

#backButton {
    background-color: rgb(105, 169, 199);
    border: black 0.08em solid;
    position: absolute;
    bottom: 3.5%;
    left: 20vw;
    height: 3vw;
    width: 10vw;
    font-size: 1.2vw;
    font-weight: bold;
}

#backButton:hover {
    background-color: rgb(61, 142, 180);
}

.button {
    height: 7vh;
    width: 7vh;
    position: absolute;
    bottom: 3vh;
    left: 9vh;
    transform: rotate(180deg);
    cursor: pointer;
}

#backMenuButton {
    position: absolute;
    width: 10vw;
    height: 4vh;
    bottom: 3vh;
    right: 45vw;
    font-size: 1vw;
}

#nextButton {
    display: none;
}

.mirror {
    transform: rotate(0deg);
}