@font-face {
    font-family: Assistant;
    src: url(fonts/Assistant-VariableFont_wght.ttf);
}

* {
    user-select: none;
    text-align: center;
    font-family: Assistant;
}

:root {
    font-size: 1vw;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(207, 204, 204);
    direction: rtl;
    overflow: hidden;
    user-select: none;
}

#logoPakar {
    position: absolute;
    top: 2%;
    left: 2%;
    height: 6vw;
    width: 6vw;
}

/* #logoPakar:hover {
    cursor: pointer;
} */

#logoPele {
    position: absolute;
    right: 1.5%;
    top: 1.5%;
    height: 6vw;
    width: 6vw;
}

#title {
    margin-top: 0.3vw;
    font-size: 4vw;
    font-weight: bold;
}

/* TIMELINE */

#timeline {
    position: absolute;
    height: 6vw;
    width: 12vw;
    top: 12.5vw;
    left: 11.5vw;
    overflow: visible !important;
}

#timelineItems {
    display: flex;
    justify-content: space-between;
    /* margin: 0 5vw; */
}

#line {
    background-color: #ff9800;
    width: 98%;
    height: 35%;
    position: inherit;
    top: 1.25vw;
}

.arrow {
    border-style: solid;
    border-color: rgb(255, 152, 0);
    border-image: initial;
    border-width: 0px 1.75vw 1.75vw 0px;
    display: inline-block;
    padding: 1.75vw;
    margin-top: -0.25vw;
    position: inherit;
    width: 1.75vw;
    height: 1.75vw;
    /* margin-left: 0vw; */
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* CIRCLES */
.circle {
    background-image: url("./media/timeline/team.png");
    background-color: rgb(105, 169, 199);
    background-repeat: no-repeat;
    background-position: center;
    /* border: solid 0.05em black; */
    border-radius: 50%;
    height: 7vw;
    width: 7vw;
    margin-top: -1.4vw;
    left: 1vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

.circle:hover {
    background-color: rgb(61, 142, 180);
    cursor: pointer;
}

/* .circleOver:hover {
    background-color: rgb(61, 160, 36) !important;
} */

.circleYear {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    height: 2.5vw;
    width: 4vw;
    margin-top: -7.5vw;
    z-index: 1;
    border: black 0.1vw solid;
    border-radius: 100%;
    background-color: rgb(172, 211, 230);
}

/* INFOBOX */

#infoBox {
    background-color: rgba(105, 169, 199, 0.582);
    position: absolute;
    display: none;
    top: 22.5vw;
    right: 30vw;
    height: 26vw;
    width: 40vw;
    border-radius: 0.5vw;
}

#titleInfo {
    font-size: 3vw;
    font-weight: bold;
    margin-top: 0.1vw;
}

#textInfo {
    font-size: 1.35vw;
    margin: 1.5vw 0.5vw;
}

#nextButton {
    position: absolute;
    /* right: 16vw; */
    margin: 0 auto;
    left: 16vw;
    /* margin-bottom: 20vw; */
    top: 20.5vw;
    /* line-height: 120%; */
    width: 8vw;
    height: 3vw;
    font-size: 1.5vw;
    border-radius: 10%;
    /* margin: 1vw; */
    /* line-height: 3vw; */
    /* padding: 1vw; */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 169, 199); 
}

#nextButton:hover {
    background-color: rgb(61, 142, 180);
    cursor: pointer;
}